.container{
    height:620px;
    width:400px;
    border: 2px solid black;
}

.display{
    height:100px;
    width: auto;
    border: 2px solid black;
    margin: 20px 15px;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.key{
    height:80px;
    width: 80px;
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal{
    width:170px;
}